/* Definição de fontes */
@font-face {
    font-family: LevenimBold;
    src: url("./font/levenim-mt-bold.ttf");
}

@font-face {
    font-family: Levenim;
    src: url("./font/levenim-mt-2.ttf");
}

.containerDescDash {
    width: 75vw;
    height: auto;
    padding: 2rem;
    padding-top: 0;
}

.titleDash {
    font-size: 32px;
    color: #412267;
    font-family: LevenimBold;
}

.descrDash {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    margin-top: 1vh;
    font-family: Levenim;
}

.containerDash{
    width: 100%;
    margin-bottom: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iframeDash{
    width: 70vw;
    height: 90vh;
}

@media (max-width: 768px) {
    .containerDescDash {
        width: 100vw;
    }

    .containerDash{
        width: 100vw;
    }

    .titleDash {
        font-size: 28px;
    }

    .descrDash {
        font-size: 15px;
    }
}