/* Definição de fontes */
@font-face {
    font-family: LevenimBold;
    src: url("./font/levenim-mt-bold.ttf");
}

@font-face {
    font-family: Levenim;
    src: url("./font/levenim-mt-2.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #6849B3;
    color: #fff;
    padding: 0.9rem;
    display: flex;
    justify-content: center;
}

.navbar{
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgLogo{
    width: 7vw;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 0.3rem;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}

.menu{
    list-style: none;
    display: flex;
    gap: 5vw;
}

.item{
    display: flex;
    align-items: center;
}

.link{
    color: white;
    text-decoration: none;
    font-family: LevenimBold;
    font-size: 1.1rem;
}
.link:hover{
    text-decoration: underline;
}
.link:active{
    color: #cab5fb;
}

.btLogout{
    width: 7vw;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 1.5px solid white;
    padding: 0.4rem;
    margin-left: 15vw;
    border-radius: 5px;
    font-family: Levenim;
    font-size: 1rem;
    cursor: pointer;
}
.btLogout:hover{
    background-color: white;
    color: #6849B3;
}
.btLogout:active{
    background-color: #cebdf7;
    color: white;
    border: 1.5px solid #cebdf7;
}


/* Responsividade */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 12vh;
        right: 0;
        background-color: #6849B3;
        padding: 1rem;
        width: 100%;
        align-items: center;
        border-top: 1px solid #a07ef7; 
    }

    .menu-active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .imgLogo{
        width: 18vw;
    }

    .btLogout{
        margin: 0;
        width: 30vw;
    }
}
